# 시작하기

In [10]:
print("hello python")
print(45)
print('hi')
print(4*5)
print('계산:', 4*5, '입니다')

hello python
45
hi
20
계산: 20 입니다

In [12]:
sale = 10*2000 
print("오늘 매출은 ",sale,"입니다")

오늘 매출은  20000 입니다

In [20]:
# 성장률 = (이번달매출-지난달매출)/지난달매출*100
성장률 = (2000-1000)/1000*100
print("이번달의 성장률은 ",성장률,"%입니다")

이번달의 성장률은  100.0 %입니다

In [22]:
이달매출 = 1500
지난달매출 = 1000
성장률 = (이달매출-지난달매출)/지난달매출*100
print("이달의 성장률은 ", 성장률, "%입니다")

이달의 성장률은  50.0 %입니다

In [24]:
input()

 1000

'1000'

In [25]:
input("이번달 매출액을 입력하세요")

이번달 매출액을 입력하세요 1000

'1000'

In [27]:
input("이번달 매출액")
input("저번달 매출액")

이번달 매출액 1000
저번달 매출액 500

'500'

In [28]:
input("이번달 매출액")
input("저번달 매출액")

이번달 매출액 1200
저번달 매출액 250

'250'

In [29]:
이달매출 = input('이번달 매출액 입력')
저번달매출 = input('저번달 매출액 입력')
print (이달매출, 저번달매출)

이번달 매출액 입력 1200
저번달 매출액 입력 400

1200 400

In [32]:
이달매출 = input('이번달 매출액 입력')
저번달매출 = input('저번달 매출액 입력')
성장률 = (이달매출 - 저번달매출) / 저번달매출
print (이달매출, 저번달매출, "성장률 : ", 성장률)

이번달 매출액 입력 1200
저번달 매출액 입력 400

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [35]:
#당신의 이름을 알려주세요
이름 = input("당신의 이름을 알려주세요")
print(이름, "님! 반갑습니다!!")

당신의 이름을 알려주세요 소희

소희 님! 반갑습니다!!

# print()의 활용

In [1]:
가격 = 1000
수량 = 10
매출 = 가격 * 수량
print(매출)

10000

In [3]:
print("이번달 매출은", 매출, "입니다.")

이번달 매출은 10000 입니다.

In [6]:
#apple, banana, cherry
과일목록1 = 'apple'
과일목록2 = 'banana'
과일목록3 = 'cherry'
print(과일목록1, 과일목록2, 과일목록3, sep=', ')

apple, banana, cherry

In [7]:
print(과일목록1, 과일목록2, 과일목록3, sep='\t')

apple	banana	cherry

In [8]:
123, '123'
'abc'

'abc'

In [9]:
type(123), type('123')

(int, str)

In [10]:
data=123
data2='123'
type(data), type(data2)

(int, str)

In [11]:
123+10, '123'+10

TypeError: can only concatenate str (not "int") to str

In [12]:
123+10, '123'+'10'

(133, '12310')

In [13]:
data+10, data2+10

TypeError: can only concatenate str (not "int") to str

name = '소희'
age = 24
#stringformat
print("나의 이름은 {}이고, 나이는 {}입니다.". format(name, age))

In [25]:
#fstring
print(f"나의 이름은 {name}이고, 나이는 {age}입니다.")

나의 이름은 소희이고, 나이는 24입니다.

In [28]:
name = input('이름을 입력하세요: ')
print(f"입력한이름: {name}")

age = int(input("나이를 입력하세요: ")) #int를 통해 문자열을 숫자로 변환
print(f"내년 나이: {age+1}")

이름을 입력하세요:  소희

입력한이름: 소희

나이를 입력하세요:  24

내년 나이: 25

In [ ]:
input('나이를 입력하세요: ')
age +1

In [29]:
age=24.8
type(age)

float

In [31]:
student_name = 'sh '
name_1 = 'sh '
1_name = 'sh'

SyntaxError: invalid decimal literal (2112157243.py, line 3)

In [32]:
PI = 3.141592 #constant 상수 즉, 바뀌지않는 상수 >> 대문자로 쓴다

In [37]:
MAX_VALUE=1000
MIN_VALUE=0

In [42]:
#shift+tab 키 매개변수 확인
#tab 자동완성 기능

In [47]:
a = 30,20,10 #패킹
type(a), a

(tuple, (30, 20, 10))

In [51]:
x=30;
y=20;
z=10

In [49]:
x,y,z = a #언패킹
x,y,z

(30, 20, 10)

In [52]:
a=10
b=a
a,b

(10, 10)

In [53]:
id(a), id(b)

(140733590170328, 140733590170328)

In [54]:
user_name = 'sh' #snake
userName = 'sh' #camel
username = 'sh'
_name = 'sh' #private
__name__ = 'sh' #더블언더스코어 '던더'

# 변수의 영역 namespace
지역변수
전역변수

In [59]:
def local_exam(): # 사용자정의함수
    local_var = 100
    print(f"함수내부: {local_var}")

local_exam()
global_var=200
local_exam()

print(f"함수외부: {local_var}")

함수내부: 100
함수내부: 100
함수외부: 200

In [68]:
counter=0

def inc_counter():
    global counter
    # temp = counter + 1
    # counter = temp
    counter = counter + 1
    print(counter)

inc_counter()
inc_counter()
inc_counter()

1
2
3

In [69]:
x,y = input("두 수를 입력하세요(공백으로 구분): ").split()
x = int(x)
y= int(y)
print("두 수의 합:", x+y)

두 수를 입력하세요(공백으로 구분):  4 5

두 수의 합: 9