# 리스트 

[ ] 대괄호로 여러 값을 하나의 변수로 묶어주는 자료 구조

In [42]:
score = [0, 30, 50, 70, 100]
print (score[0]) #첫번째 학생 점수
print (score[4], score[-1]) #마지막 학생 점수

0
100 100

In [6]:
fruits = ['사과', '바나나', '포도']
mixed = ['사과', 20, '바나나', 30, True]
matrix = [[1,2], [3,4]]
#즉, 리스트는 모든 데이터 타입 가능

In [7]:
matrix[0]

[1, 2]

In [9]:
matrix[0][1]

2

In [11]:
fruits[0], fruits[1:3]

('사과', ['바나나', '포도'])

In [12]:
str(fruits)

"['사과', '바나나', '포도']"

In [14]:
s_list = 'Hello'
s_list[0] = 'h' #문자열은 변경 불가

TypeError: 'str' object does not support item assignment

In [15]:
n_list = list(s_list)
type(n_list), n_list

(list, ['H', 'e', 'l', 'l', 'o'])

In [16]:
int('50'), str(50)

(50, '50')

In [19]:
n_list[0] = 'h' #문자열은 변경 불가하니 리스트로 변환하고 변경
n_list

['h', 'e', 'l', 'l', 'o']

In [20]:
str(n_list)

"['h', 'e', 'l', 'l', 'o']"

In [22]:
''.join(n_list)

'hello'

In [23]:
'-'.join(n_list)

'h-e-l-l-o'

In [24]:
list ('hello') #문자열로 리스트 생성하기

['h', 'e', 'l', 'l', 'o']

In [29]:
list (1,2,3,4)

TypeError: list expected at most 1 argument, got 4

In [27]:
ss = [1,2,3,4] #리스트 표현으로 생성하기

In [33]:
a = range (5)
print(list(a))
print(type(a))

[0, 1, 2, 3, 4]
<class 'range'>

In [39]:
list(range(2,20,2)) # = 2부터 20전까지 2 간격추출, 파이썬에서는 시작포함o 끝포함x (like리스트)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [35]:
list(range(2,20,3))

[2, 5, 8, 11, 14, 17]

In [43]:
# 리스트는 중간에 변형과 삽입가능(mutable) <> 문자열은 변형 불가(immutable)

## 복사 - 얕은복사 shallow copy

In [42]:
score = [10,20,30,40,50]

new_score=score  #일부를 슬라이싱 (score[0:1]해서 넣으면 new_score에 반영이 안됨)
new_score[0]=100
print(new_score, score)
print(new_score is score)

[100, 20, 30, 40, 50] [100, 20, 30, 40, 50]
True

## 복사 - 깊은 복사 deep copy

In [43]:
import copy
new_score_1=copy.copy(score)
new_score_1[1]=99
print(new_score_1, score)
print(new_score_1 is score)

[100, 99, 30, 40, 50] [100, 20, 30, 40, 50]
False

# 리스트의 연산자 + *

In [73]:
lunch_1 = ['해물라면', '샐러드', '떡볶이' ]
lunch_2 = ['짜장면', '짬뽕']
lunch_1 + lunch_2

['해물라면', '샐러드', '떡볶이', '짜장면', '짬뽕']

In [74]:
# lunch_1 * lunch_2 이건 오류
lunch_1 *2

['해물라면', '샐러드', '떡볶이', '해물라면', '샐러드', '떡볶이']

In [75]:
del lunch_1[0]
lunch_1

['샐러드', '떡볶이']

In [76]:
'샐러드' in lunch_1

True

In [77]:
'a' in 'abcd'

True

In [104]:
# 연습문제
snack_box = []
# 먹고 싶은 간식을 입력받아서 추가하세요
new_snack = input('먹고싶은 간식을 알려주세요') #input으로 받으면 문자열
snack_box = snack_box + [new_snack]
snack_box

먹고싶은 간식을 알려주세요 두쫀쿠

['두쫀쿠']

In [2]:
# 연습문제
snack_box = ['홈런볼']
# 먹고 싶은 간식을 입력받아서 추가하세요
new_snack = [input('먹고싶은 간식을 알려주세요')]
snack_box += new_snack
snack_box

먹고싶은 간식을 알려주세요 두쫀쿠

['홈런볼', '두쫀쿠']

In [3]:
n = int(input('몇박스가 필요하세요"'))
snack_box *= n
snack_box

몇박스가 필요하세요" 3

['홈런볼', '두쫀쿠', '홈런볼', '두쫀쿠', '홈런볼', '두쫀쿠']

In [4]:
del_n = int(input('빼고싶은 간식이 있으면 번호를 입력하세요'))
del snack_box[del_n]
snack_box

빼고싶은 간식이 있으면 번호를 입력하세요 1

['홈런볼', '홈런볼', '두쫀쿠', '홈런볼', '두쫀쿠']

In [5]:
f_name = input('찾는 간식 이름')
if f_name in snack_box:
    print('있음')
else : 
    print('없음')

찾는 간식 이름 홈런볼

있음

In [8]:
snack_box

['두쫀쿠', '홈런볼', '두쫀쿠', '홈런볼', '홈런볼']

In [11]:
snack_box.reverse()
snack_box

['홈런볼', '홈런볼', '두쫀쿠', '홈런볼', '두쫀쿠']

In [12]:
snack_box

['홈런볼', '홈런볼', '두쫀쿠', '홈런볼', '두쫀쿠']

In [16]:
dir(snack_box)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [17]:
snack_box

['홈런볼', '홈런볼', '두쫀쿠', '홈런볼', '두쫀쿠']

In [18]:
snack_box[::-1]

['두쫀쿠', '홈런볼', '두쫀쿠', '홈런볼', '홈런볼']

In [22]:
snack_box[::-2] #마지막 두쫀쿠에서 시작해서 2간격 추출

['두쫀쿠', '두쫀쿠', '홈런볼']

In [21]:
snack_box[::-3] #마지막 두쫀쿠에서 시작해서 3간격 추출

['두쫀쿠', '홈런볼']

In [ ]:
# 생성자 creator, function(함수) 
int(1) # 1
float(1) # 1.0
str() # "", '', """ """, ''' '''

list() # [ ]
tuple() # ( )
dict() # { }
set() # { }

In [6]:
lis = [1,2]
lis.append(3)
lis

[1, 2, 3]

## ==, is

In [11]:
lunch_1 = ['주먹밥', '치킨', '칼국수']
lunch_2 = ['주먹밥', '치킨', '칼국수']
print(lunch_1 == lunch_2)  # 같음 
print(id(lunch_1), id(lunch_2))  # 다름

True
2769058331584 2769058448768

In [13]:
lunch_1 is lunch_2  #id로 판단하는 결과랑 같아짐

False

In [3]:
students = [{ 'num':'1','name':'kim', 'kor':80, 'math':90, 'eng':100 }, 
            { 'num':'2','name':'son', 'kor':85, 'math':100, 'eng':95 }, 
            {'num':'3','name':'yoo', 'kor':85, 'math':45, 'eng':100 }] 
#dictionary의 리스트
#딕셔너리는 :을 찍어서 이름을 지정해줬기 때문에 리스트처럼 프로그램상 지정된 숫자로 인덱싱을 하는 것이 아니라 해당 이름으로 불러옴

In [74]:
# 인덱싱하기
print(students[0]['num']) # 딕셔너리여서 
print(students[1]['name'])
print(students[2]['eng'])

1
son
100

In [75]:
for s in students :
    print(s)
    print('\n')
# s는 걍 임의의 변수 지정한 거임

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100}


{'num': '2', 'name': 'son', 'kor': 85, 'math': 100, 'eng': 95}


{'num': '3', 'name': 'yoo', 'kor': 85, 'math': 45, 'eng': 100}

In [4]:
for stu in students :
    stu['total'] = stu['kor'] + stu['math'] + stu['eng'] #한 학생의 점수 합계
    print(stu['total'])

270
280
230

In [30]:
print(stu) #total이 리스트안의 원본 딕셔너리도 바뀜 즉, 딕셔너리는 없는 키 값 대입 시 자동 키 생성

{'num': '3', 'name': 'yoo', 'kor': 85, 'math': 45, 'eng': 100, 'total': 230}

In [5]:
students

[{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270},
 {'num': '2', 'name': 'son', 'kor': 85, 'math': 100, 'eng': 95, 'total': 280},
 {'num': '3', 'name': 'yoo', 'kor': 85, 'math': 45, 'eng': 100, 'total': 230}]

In [6]:
for stu in students:
    stu ['avg'] = round(stu['total']/3,2) # 값 자체를 소수점 두자리로 바꾸는 법
    print(stu['avg'])

90.0
93.33
76.67

In [7]:
for stu in students:
    stu ['avg'] = stu['total']/3 
    print(f"{stu['avg']:.2f}") # 출력값 자체만 소수점 두자리로 만드는 법

90.00
93.33
76.67

In [8]:
stu is students

False

# 리스트의 정렬

In [66]:
#리스트 원본 자체를 정렬해서 바꿈
num = [5,2,9,3,4]
num.sort()
num

[2, 3, 4, 5, 9]

In [72]:
# 리스트 원본 그자체가 바뀌지는 않지만 그렇게 보임 >> 원한다면 new_num_1 = sorted(num_1) 으로 지정해서 사용
num_1 = [5,2,9,3,4]
sorted(num_1)  #[2, 3, 4, 5, 9]
num_1

[5, 2, 9, 3, 4]

In [83]:
fruits = [ '사과', '홍시', '포도', '복숭아']
fruits.append('멜론')
fruits

['사과', '홍시', '포도', '복숭아', '멜론']

In [85]:
fruits.insert(1, '수박')
fruits

['사과', '수박', '수박', '홍시', '포도', '복숭아', '멜론']

In [91]:
fruits.remove('수박')
fruits

['사과', '홍시', '포도', '복숭아', '멜론']

In [92]:
fruits.insert(2, '수박') # insert(인덱스,밸류) 삽입을 원하는 위치의 인덱스를 기입 
fruits

['사과', '홍시', '수박', '포도', '복숭아', '멜론']

In [93]:
fruits.reverse()
fruits

['멜론', '복숭아', '포도', '수박', '홍시', '사과']

In [103]:
fruits.pop() #후입선출 >> Undo의 역할,  스택에서 최근에 한 것부터 처리해야할 때 사용
fruits

['멜론', '복숭아', '포도', '수박', '홍시']

# 리스트의 특징

In [106]:
data = list(range(-100,100))
len(data)

200

In [ ]:
# 리스트에 양수만 남긴다
for x in data :
    if x < 0 :
        data.remove(x)
data # 원하는대로 결과가 나오지않음 즉, 큰 리스트의 반복수정은 비용이 큼

In [110]:
# 리스트에 양수만 남긴다
data = list(range(-100,100))

filtered = []
for x in data :
    if x >= 0 : 
        filtered.append(x)
filtered

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [113]:
# [1,3,5,4,2] > [5,4,3,2,1]
list = [1,3,5,4,2]
list.sort()
list.reverse()
list

[5, 4, 3, 2, 1]

In [137]:
# 위 예제 다른 답안
list = [1,3,5,4,2]
list.sort(reverse=True)
list

[5, 4, 3, 2, 1]

In [135]:
# [ 'Life', 'is', 'too', 'short' ] > "Life is too short"
life = [ 'Life', 'is', 'too', 'short' ]
life_1 = life[0]+life[1]+life[2]+life[3]
life_1

'Lifeistooshort'

In [138]:
# 위 예제 답안
life = [ 'Life', 'is', 'too', 'short' ]
' '.join(life)

'Life is too short'

In [123]:
# [1,3,5,7,9] > [3,5,7,9,1]
num=[1,3,5,7,9]
num.remove(1)
num.append(1)
num

[3, 5, 7, 9, 1]

In [140]:
# 위 예제 다른 답안
num=[1,3,5,7,9]
first = num.pop(0) # 기본적으로 괄호 안을 공백으로 두면 제일 마지막 꺼, 인덱스 지정도 가능)
num.append(first)
num

[3, 5, 7, 9, 1]

# 튜플

In [142]:
tuple1 = 1,2,3
tuple1, type(tuple1) # 콤마로 연결하니 타입 역시도 튜플로 연결된 거

((1, 2, 3), tuple)

In [143]:
1,2,3

(1, 2, 3)

In [144]:
tuple2 = tuple([1,2,3])
tuple2

(1, 2, 3)

In [148]:
t3 = (2)
print( t3 ,type(t3) ) # 괄호가 있어도 하나면 튜플 아님, 괄호가 없어도 여러개면 튜플
t3_1 = (2,)
print( t3_1 ,type(t3_1))

2 <class 'int'>
(2,) <class 'tuple'>

In [167]:
t = (10,20,30,40,50)
t[1], t[-1]

(20, 50)

In [168]:
t[2:4]

(30, 40)

In [169]:
t[0]=20 #이건안됨

TypeError: 'tuple' object does not support item assignment

In [174]:
t_list = list(t)
t_list[0] = 20 
t_new = tuple(t_list)
t_new

(20, 20, 30, 40, 50)

# 패킹, 언패킹

In [175]:
nums = [1,2,3]
nums

[1, 2, 3]

In [178]:
nums = (1,2,3) #패킹
x,y,z = nums
x,y,z,nums # 언패킹

(1, 2, 3, (1, 2, 3))

In [181]:
student = [ 'hong', 20, '1학년']
student[0] + " "+str(student[1]) + " " + student[2]

'hong 20 1학년'

In [182]:
name, age, grade = ('hong', 20, '1학년')
name + str(age) + grade

'hong201학년'

In [189]:
x=1
y=2

#x=2, y=1이 되려면 임시함수 tmp 이용
#빈자리 tmp를 만들어두고 1인x를 옮기고 빈 x에 2인y를 채우고 마지막으로 빈y에 tmp의 1을 채운다
tmp = x 
x = y
y = tmp
x,y

(2, 1)

In [186]:
x=1
y=2
x,y = y,x
x,y

(2, 1)

# 딕셔너리

In [190]:
person = {"이름":'alice', 'age': 25, 'city':'서울'}
person_1 = {"이름":'bob', 'age': 30, 'city':'부산'}

In [191]:
person

{'이름': 'alice', 'age': 25, 'city': '서울'}

In [195]:
person["이름"], person["age"], person["city"] #인덱싱과 슬라이싱은 대괄호로 한다고 통일

('alice', 25, '서울')

In [200]:
for per in person : 
    print(per)

이름
age
city

In [201]:
for per in person.values() : 
    print(per) # key:value 1쌍

alice
25
서울

In [202]:
for per,val in person.items() :
    print(per,val)

이름 alice
age 25
city 서울

In [203]:
person.get('직업')

In [204]:
person.get('age')

25

In [206]:
print(person.keys())
print(person.values())
print(person.items())
print(person.pop('age'))

dict_keys(['이름', 'age', 'city'])
dict_values(['alice', 25, '서울'])
dict_items([('이름', 'alice'), ('age', 25), ('city', '서울')])
25

In [207]:
person.update({'age':24, 'city': '대구'})
person

{'이름': 'alice', 'city': '대구', 'age': 24}

In [213]:
print(person.get('직업'))            #get함수를 이용하면 값이 없는 경우에도 에러나지않고 실행됨. 출력되는 정보가 없을 뿐 
print(person.get('직업', '정보없음'))  #if '직업'을 get 하지 못하는 경우 '정보없음'을 출력하란 뜻

None
정보없음

In [210]:
d = {'a':1, 'b':2}
print(list(d.keys()))
print(list(d.values()))
for k,v in d.items() :
    print (k,v)

['a', 'b']
[1, 2]
a 1
b 2

In [212]:
d.get("x",0)

0

In [214]:
job_cur_status = person.get('직업','정보없음')
job_cur_status

'정보없음'

In [218]:
if job_cur_status == '정보없음' :
    job = input('직업을 입력하세요.')
    person.update( {'직업': job} )
person

직업을 입력하세요. 학생

{'이름': 'alice', 'city': '대구', 'age': 24, '직업': '학생'}

 # 집합(set)

In [219]:
집합1 = set([1,2,3,4])
집합1

{1, 2, 3, 4}

In [221]:
집합2 = set([1,2,3,4,4,3])
print(집합2)
집합3 = set([1,2,3,4,4,3]*10)
print(집합3)

# 즉, 중복된 값은 자동으로 제거고 유의미한 값만 남음

{1, 2, 3, 4}
{1, 2, 3, 4}

In [225]:
# 집합연산
집 = {1,2,3,4}
합 = {3,4,5,6}
print(집|합)
print(집&합)
print(집-합)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [1]:
students = [{'num':'1','name':'kim','kor':80,'math':90,'eng':100,},		
            {'num':'2','name':'park','kor':90,'math':60,'eng':80},		
            {'num':'3','name':'hong','kor':70,'math':70,'eng':80},		
            {'num':'4','name':'hong1','kor':70,'math':70,'eng':80},
            {'num':'5','name':'hong2','kor':70,'math':70,'eng':80}]

In [12]:
# 학생별 총점, 평균, 순위 -> 추가 출력
for s in students :
    s['total'] = s['kor']+s['math']+s['eng'] 
    s['avg']=s['total']/3
    rank = 1
    for other in students :
        if other['total']>s['total'] :
            rank += 1
        s['rank'] = rank
    
students

[{'num': '1',
  'name': 'kim',
  'kor': 80,
  'math': 90,
  'eng': 100,
  'total': 270,
  'avg': 90.0,
  'rank': 1},
 {'num': '2',
  'name': 'park',
  'kor': 90,
  'math': 60,
  'eng': 80,
  'total': 230,
  'avg': 76.66666666666667,
  'rank': 2},
 {'num': '3',
  'name': 'hong',
  'kor': 70,
  'math': 70,
  'eng': 80,
  'total': 220,
  'avg': 73.33333333333333,
  'rank': 3},
 {'num': '4',
  'name': 'hong1',
  'kor': 70,
  'math': 70,
  'eng': 80,
  'total': 220,
  'avg': 73.33333333333333,
  'rank': 3},
 {'num': '5',
  'name': 'hong2',
  'kor': 70,
  'math': 70,
  'eng': 80,
  'total': 220,
  'avg': 73.33333333333333,
  'rank': 3}]

In [37]:
# 전체 총점, 평균 출력
totals = 0
for t in students :
    totals += t['total']
print(f'전체 총점: {totals}')

avgs = 0
for d in students :
    avgs += d['avg']
sum_avg = avgs/int(students[-1]['num'])
print(f'전체 평균: {sum_avg:.2f}')

전체 총점: 1160
전체 평균: 77.33

In [41]:
# 과목별 평균
kor_avgs=0
for i in students :
    kor_avgs += i['kor']
kor_avg = kor_avgs / int(students[-1]['num'])
print(f'국어 과목평균: {kor_avg}')

국어 과목평균: 76.0