# for문

In [5]:
type(range(10))

range

In [6]:
(range, range(0,10))

(range, range(0, 10))

In [7]:
for i in range(10) :
    print (i)

0
1
2
3
4
5
6
7
8
9

In [13]:
# 1~100 사이의 4의 배수 출력 
# range(start, stop, step)

for n in range(4,100,4) :
    print (n)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

In [22]:
# data = [0,1,2,3,4]
# data = ['son','so','hee']
# data = ['son','so','hee'], [0,1,2,3,4]
data = 'Hello!'

for var in data :
    print (var)

H
e
l
l
o
!

In [30]:
%%time

sum = 0
for i in range (1,10001) : 
    sum += i                ## for문은 느리다
print(sum)

50005000
CPU times: total: 0 ns
Wall time: 1.42 ms

In [29]:
%%time
num = range(1,10001)
result = sum(num)
result

CPU times: total: 0 ns
Wall time: 1.03 ms

50005000

In [47]:
# 문자열 순회
password = 'Abc21!'

# 비밀번호 조건 만족여부 확인
isUpper = False
isDigit = False
isSpecial = False
isLower = False
special_char = '!@#%?$'

for char in password :                                   # char은 password에서 A, b, 2, ! 와 같이 한글자씩 떼서 넣어두는 거임
    if char.isupper() : # 대분자 확인 
        isUpper = True
    elif char.isdigit() : # 숫자 확인
        isDigit = True
    elif char in special_char :   # 특수기호 확인          # char 안에 특수기호가 있니?
        isSpecial = True
    elif char.islower() :        # 소문자 확인
        isLower = True
    check_result = isUpper + isDigit + isSpecial + isLower
    
print(f"비밀번호 강도 조건 만족여부: {'만족' if check_result == 4 else '불만족'}")

비밀번호 강도 조건 만족여부: 만족

In [48]:
# 방문자
visitor_ids = [101, 102, 103, 101, 104, 102, 105, 101, 103]
# 순방문
unique_visitor = set(visitor_ids)
unique_visitor

{101, 102, 103, 104, 105}

In [51]:
print(f'총방문횟수 : {len(visitor_ids)}')
print(f'순방문횟수 : {len(unique_visitor)}')

# 순방문자 목록 출력
for visitor_id in unique_visitor :
    print(f'사용자 #{visitor_id}')

총방문횟수 : 9
순방문횟수 : 5
사용자 #101
사용자 #102
사용자 #103
사용자 #104
사용자 #105

# 중첩반복문

In [1]:
for i in range(5) :         # 밖에있는 루프 돈다
    for j in range(5): # 안에있는 루프 먼저 돌고
        print (i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [1]:
# 짝수단만 출력 (1)
for a in range(2,10) :
    for b in range (1,10) :
        if a%2 == 0 :
            print(f' {a} * {b} = {a*b}')

 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72

In [6]:
# 짝수단만 출력 (2)
for a in range(2,10,2) :
    for b in range(1,10):
        print(f' {a} * {b} = {a*b}')

 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72

In [15]:
# 2~5단 첫줄
print("[2~4단]")
for i in range(1,10) : #10줄반복
    line = ""
    for dan in range(2,5) : #3번 공백으로 연결
        #if dan %2 ==0:
        line += f" {dan} x {i} = {dan*i:2d} "
    print(line)
#6~9단 다음줄

[2~4단]
 2 x 1 =  2  3 x 1 =  3  4 x 1 =  4
 2 x 2 =  4  3 x 2 =  6  4 x 2 =  8
 2 x 3 =  6  3 x 3 =  9  4 x 3 = 12
 2 x 4 =  8  3 x 4 = 12  4 x 4 = 16
 2 x 5 = 10  3 x 5 = 15  4 x 5 = 20
 2 x 6 = 12  3 x 6 = 18  4 x 6 = 24
 2 x 7 = 14  3 x 7 = 21  4 x 7 = 28
 2 x 8 = 16  3 x 8 = 24  4 x 8 = 32
 2 x 9 = 18  3 x 9 = 27  4 x 9 = 36

# 내장함수 enumerate()

In [71]:
char_list = [ 'a', 'b', 'c' ]
for x in char_list :
    print (x)

a
b
c

In [74]:
char_list = [ 'a', 'b', 'c' ]
for idx, x in enumerate(char_list) :
    print (idx,x)

0 a
1 b
2 c

In [77]:
list(enumerate(char_list))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [81]:
list(enumerate(char_list,1))   #1부터 인덱싱하기

[(1, 'a'), (2, 'b'), (3, 'c')]

# 내장함수 zip()

In [87]:
c_list = ['hello', 'hi', 'goodbye']
zip(char_list, c_list)

In [88]:
list(zip(char_list, c_list))

[('a', 'hello'), ('b', 'hi'), ('c', 'goodbye')]

In [96]:
#for item in zip(char_list, c_list) :

char_obj = zip(char_list, c_list)
for item in char_obj:
    print (item, item[1])

('a', 'hello') hello
('b', 'hi') hi
('c', 'goodbye') goodbye

In [98]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
cities = [ '서울', '부산', '대구' ]

for name, age, city in zip(names, ages, cities) :
    print(f'{name}은 {age}살이며 {city}에 살고 있습니다')

Alice은 25살이며 서울에 살고 있습니다
Bob은 30살이며 부산에 살고 있습니다
Charlie은 35살이며 대구에 살고 있습니다

In [106]:
# 년월일을 입력받아 요일 출력하기
year = int(input('몇 년: '))
month = int(input('몇 월: '))
day = int(input('몇 일: '))
week_day = ['월', '화', '수', '목', '금', '토', '일']

import datetime
wd = datetime.date(year,month,day).weekday()
print(f'{week_day[wd]}요일 입니다')

몇 년:  2004
몇 월:  4
몇 일:  5

월요일 입니다

In [ ]:
# 총일수 % 7 -> wd
# 기준일 : 2025-10-5
# 연도 : 1~2024 년도 수 * 365/6
# 월 : 1~9월 수 * 31/30/29/28
# 일 : 일

In [18]:
year = int(input('연도를 입력하시오: '))
month = int(input('월을 입력하시오: '))
day = int(input('일을 입력하시오: '))

연도를 입력하시오:  2025
월을 입력하시오:  3
일을 입력하시오:  15

In [19]:
year, month, day

(2025, 3, 15)

In [42]:
total_days=0
# 연도의 총 일수 계산
for i in range(1, year) : #2024년까지 셈
    if i % 400 == 0 : #윤년
        total_days += 366  #365를 더하는 과정을 range(1,year)번 반복해서 i에 저장함
    elif i % 100 == 0 : #평년
        total_days += 365
    elif i % 4 == 0 : #윤년
        total_days += 366
    else : total_days += 365
print(f'1st : {total_days}, {year}')

# 기준일까지의 2025년 월의 총 일수 계산
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1,month) :
    total_days += month_days[m]
print(f'2nd : {total_days}')

# 기준월의 일수 추가
total_days += day
if month >= 3 :
    #윤년체크
    if year % 400 == 0 : #윤년
        total_days += 1  
    elif year % 100 == 0 : #평년
        total_days += 0
    elif year % 4 == 0 : #윤년
        total_days += 1 
    else : total_days += 0
print(f'3rd : {total_days}')

# 연도 + 월 + 일 % 7 = 요일에 해당하는수 
remain = total_days % 7
result = None 
if remain == 0:
    result ='일'
elif remain == 1:
    result ='월'
elif remain == 2:
    result ='화'
elif remain == 3:
    result ='수'
elif remain == 4:
    result ='목'
elif remain == 5:
    result ='금'
elif remain == 6:
    result ='토'

print(f'{year}년 {month}월 {day}일은 {result}요일 입니다.')

1st : 739251, 2025
2nd : 739310
3rd : 739325
2025년 3월 15일은 토요일 입니다.

In [4]:
year = int(input('몇 년: '))
month = int(input('몇 월: '))
day = int(input('몇 일: '))
total_days = 0

# 1. 서기 1년부터 작년(year-1)까지의 총 일수 합산
for y in range(1, year):
    # 윤년 조건: 4로 나누어 떨어지면서 100으로 안 나누어지는 연도에 예외적으로 400으로 나누어 떨어지는 연도까지
    if (y % 4 == 0 and y % 100 != 0) or (y % 400 == 0):
        total_days += 366
    else:
        total_days += 365

# 2. 올해 1월부터 지난달(month-1)까지의 일수 합산
for m in range(1, month):
    if m in [1, 3, 5, 7, 8, 10, 12]:
        total_days += 31
    elif m in [4, 6, 9, 11]:
        total_days += 30
    elif m == 2:
        # 올해가 윤년인지 확인하여 2월 일수 결정
        if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
            total_days += 29
        else:
            total_days += 28

# 3. 해당 기준월의 일수 추가
total_days += day

# 4. 요일 리스트 및 결과 출력
week_day = [ '일', '월', '화', '수', '목', '금', '토' ]
wd_index = total_days % 7
2
print(f'총 {total_days}일')
print(f'{week_day[wd_index]}요일 입니다')

몇 년:  2025
몇 월:  3
몇 일:  15

총 739325일
토요일 입니다

# while 문

In [1]:
sum = 0   #초기화
for i in range(1,11) : 
    sum += i  #처리
sum  #출력

55

In [2]:
i=1
sum=0
while True :
    sum = sum + i
    i = i + 1
    if i>=10 :
        break
print(sum, i)

45 10

In [7]:
user_input = None
while user_input != "Exit" :
    user_input = input('명령을 입력하세요 (Exit 입력 시 종료)')
    print(f'입력하신 명령은 {user_input}입니다.')
print('Exit 명령을 입력하셨습니다.')

명령을 입력하세요 (Exit 입력 시 종료) 소희

입력하신 명령은 소희입니다.

명령을 입력하세요 (Exit 입력 시 종료) Exit

입력하신 명령은 Exit입니다.
Exit 명령을 입력하셨습니다.