In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

np.random.seed(0)

# Q1
insurance.csv 파일을 읽어서 df에 할당하고, 상위 5개 항목 출력하기

In [35]:
insurance_df = pd.read_csv('./data/insurance.csv')
insurance_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [7]:
insurance_df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# Q2
df의 요약(평균, 4분위수, 전체 갯수 등) 정보 확인하기

In [8]:
insurance_df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

# Q3 
신규 컬럼(double bmi)를 생성하고, bmi의 2배가 되는 값을 할당하기

In [9]:
insurance_df['double bmi'] = insurance_df['bmi']*2
insurance_df

      age     sex     bmi  children smoker     region      charges  double bmi
0      19  female  27.900         0    yes  southwest  16884.92400       55.80
1      18    male  33.770         1     no  southeast   1725.55230       67.54
2      28    male  33.000         3     no  southeast   4449.46200       66.00
3      33    male  22.705         0     no  northwest  21984.47061       45.41
4      32    male  28.880         0     no  northwest   3866.85520       57.76
...   ...     ...     ...       ...    ...        ...          ...         ...
1333   50    male  30.970         3     no  northwest  10600.54830       61.94
1334   18  female  31.920         0     no  northeast   2205.98080       63.84
1335   18  female  36.850         0     no  southeast   1629.83350       73.70
1336   21  female  25.800         0     no  southwest   2007.94500       51.60
1337   61  female  29.070         0    yes  northwest  29141.36030       58.14

[1338 rows x 8 columns]

# Q4 
신규 컬럼(debt)을 생성하고, 0으로 채우기

In [10]:
insurance_df['debt'] = 0
insurance_df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
0,19,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,18,male,33.770,1,no,southeast,1725.55230,67.54,0
2,28,male,33.000,3,no,southeast,4449.46200,66.00,0
3,33,male,22.705,0,no,northwest,21984.47061,45.41,0
4,32,male,28.880,0,no,northwest,3866.85520,57.76,0
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,61.94,0
1334,18,female,31.920,0,no,northeast,2205.98080,63.84,0
1335,18,female,36.850,0,no,southeast,1629.83350,73.70,0
1336,21,female,25.800,0,no,southwest,2007.94500,51.60,0
1337,61,female,29.070,0,yes,northwest,29141.36030,58.14,0

# Q5* 
debt에 0부터 값이 증가하도록 채우기

In [11]:
# 방법1
insurance_df['debt'] = range(len(insurance_df))
insurance_df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
0,19,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,18,male,33.770,1,no,southeast,1725.55230,67.54,1
2,28,male,33.000,3,no,southeast,4449.46200,66.00,2
3,33,male,22.705,0,no,northwest,21984.47061,45.41,3
4,32,male,28.880,0,no,northwest,3866.85520,57.76,4
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,61.94,1333
1334,18,female,31.920,0,no,northeast,2205.98080,63.84,1334
1335,18,female,36.850,0,no,southeast,1629.83350,73.70,1335
1336,21,female,25.800,0,no,southwest,2007.94500,51.60,1336
1337,61,female,29.070,0,yes,northwest,29141.36030,58.14,1337

In [12]:
# 방법2
insurance_df['debt'] = insurance_df.index
insurance_df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
0,19,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,18,male,33.770,1,no,southeast,1725.55230,67.54,1
2,28,male,33.000,3,no,southeast,4449.46200,66.00,2
3,33,male,22.705,0,no,northwest,21984.47061,45.41,3
4,32,male,28.880,0,no,northwest,3866.85520,57.76,4
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,61.94,1333
1334,18,female,31.920,0,no,northeast,2205.98080,63.84,1334
1335,18,female,36.850,0,no,southeast,1629.83350,73.70,1335
1336,21,female,25.800,0,no,southwest,2007.94500,51.60,1336
1337,61,female,29.070,0,yes,northwest,29141.36030,58.14,1337

# Q6
1번 인덱스의 정보 출력

In [13]:
insurance_df.index,  insurance_df.columns

(RangeIndex(start=0, stop=1338, step=1),
 Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges',
        'double bmi', 'debt'],
       dtype='object'))

In [25]:
insurance_df['age'] # 컬럼 추출
insurance_df.loc[:,'age'] # 컬럼 추출
insurance_df.iloc[1] # 행 추출

age                  19
sex                   1
bmi               33.77
children              1
smoker                0
region        southeast
charges       1725.5523
double bmi        67.54
debt                  1
Name: 1, dtype: object

In [14]:
insurance_df.iloc[1] # iloc는 순서번호 기준 선택, 슬라이싱 시 끝 값 포함 안함

age                  18
sex                male
bmi               33.77
children              1
smoker               no
region        southeast
charges       1725.5523
double bmi        67.54
debt                  1
Name: 1, dtype: object

# Q7*
'double bmi'열 삭제하기

In [15]:
insurance_df.drop(['double bmi'], axis=1) # axis=1은 열 기준 삭제, axis=0은 행 기준 삭제 / default = 0
# inplace 안하면 원본 df 유지

      age     sex     bmi  children smoker     region      charges  debt
0      19  female  27.900         0    yes  southwest  16884.92400     0
1      18    male  33.770         1     no  southeast   1725.55230     1
2      28    male  33.000         3     no  southeast   4449.46200     2
3      33    male  22.705         0     no  northwest  21984.47061     3
4      32    male  28.880         0     no  northwest   3866.85520     4
...   ...     ...     ...       ...    ...        ...          ...   ...
1333   50    male  30.970         3     no  northwest  10600.54830  1333
1334   18  female  31.920         0     no  northeast   2205.98080  1334
1335   18  female  36.850         0     no  southeast   1629.83350  1335
1336   21  female  25.800         0     no  southwest   2007.94500  1336
1337   61  female  29.070         0    yes  northwest  29141.36030  1337

[1338 rows x 8 columns]

# Q8*
'age'열, 'sex'열만 출력하기

In [27]:
# 방법1
insurance_df[['age','sex']]

      age  sex
0      20    0
1      19    1
2      29    1
3      34    1
4      33    1
...   ...  ...
1333   51    1
1334   19    0
1335   19    0
1336   22    0
1337   62    0

[1338 rows x 2 columns]

In [28]:
# 방법2 : 슬라이싱
insurance_df.loc[:,'age':'sex'] # 컴마 기준으로 행, 열 구분

# .loc[시작인덱스:끝인덱스, '시작컬럼명':'끝컬럼명']
# .iloc[시작인덱스:끝인덱스, 시작컬럼번호:끝컬럼번호]

      age  sex
0      20    0
1      19    1
2      29    1
3      34    1
4      33    1
...   ...  ...
1333   51    1
1334   19    0
1335   19    0
1336   22    0
1337   62    0

[1338 rows x 2 columns]

# Q9
나이를 1살씩 증가시키기

In [18]:
insurance_df['age'] = insurance_df['age'] + 1
insurance_df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
0,20,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,19,male,33.770,1,no,southeast,1725.55230,67.54,1
2,29,male,33.000,3,no,southeast,4449.46200,66.00,2
3,34,male,22.705,0,no,northwest,21984.47061,45.41,3
4,33,male,28.880,0,no,northwest,3866.85520,57.76,4
...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.54830,61.94,1333
1334,19,female,31.920,0,no,northeast,2205.98080,63.84,1334
1335,19,female,36.850,0,no,southeast,1629.83350,73.70,1335
1336,22,female,25.800,0,no,southwest,2007.94500,51.60,1336
1337,62,female,29.070,0,yes,northwest,29141.36030,58.14,1337

# Q10*
charges의 표시형식을 소수점 아래 2자리로 바꾸기

In [30]:
# 각 요소에 f-string 형식을 적용
#insurance_df['charges'].map(lambda x: f'{float(x):.2f}')

# 데이터를 실제로 반올림하여 변경
# insurance_df['charges'] = insurance_df['charges'].round(2)
# insurance_df['charges'] = round(insurance_df['charges'], 2)

# apply 함수 : input과 return 정의 >> 커스텀함수를 df에 적용
def round_2(data) :
  return round(data, 2)
insurance_df['charges'] = insurance_df['charges'].apply(round_2)

insurance_df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
0,20,0,27.900,0,1,southwest,16884.92,55.80,0
1,19,1,33.770,1,0,southeast,1725.55,67.54,1
2,29,1,33.000,3,0,southeast,4449.46,66.00,2
3,34,1,22.705,0,0,northwest,21984.47,45.41,3
4,33,1,28.880,0,0,northwest,3866.86,57.76,4
...,...,...,...,...,...,...,...,...,...
1333,51,1,30.970,3,0,northwest,10600.55,61.94,1333
1334,19,0,31.920,0,0,northeast,2205.98,63.84,1334
1335,19,0,36.850,0,0,southeast,1629.83,73.70,1335
1336,22,0,25.800,0,0,southwest,2007.94,51.60,1336
1337,62,0,29.070,0,1,northwest,29141.36,58.14,1337

# Q11
컬럼을 알파벳 순서대로(age, bmi, charges..) 순으로 정렬

In [20]:
insurance_df.sort_index(axis=1) # axis=1 안하면 행 인덱스 기준 정렬

,age,bmi,charges,children,debt,double bmi,region,sex,smoker
0,20,27.900,16884.92400,0,0,55.80,southwest,female,yes
1,19,33.770,1725.55230,1,1,67.54,southeast,male,no
2,29,33.000,4449.46200,3,2,66.00,southeast,male,no
3,34,22.705,21984.47061,0,3,45.41,northwest,male,no
4,33,28.880,3866.85520,0,4,57.76,northwest,male,no
...,...,...,...,...,...,...,...,...,...
1333,51,30.970,10600.54830,3,1333,61.94,northwest,male,no
1334,19,31.920,2205.98080,0,1334,63.84,northeast,female,no
1335,19,36.850,1629.83350,0,1335,73.70,southeast,female,no
1336,22,25.800,2007.94500,0,1336,51.60,southwest,female,no
1337,62,29.070,29141.36030,0,1337,58.14,northwest,female,yes

# Q12
값 정렬(age) : 나이 순으로 정렬

In [21]:
insurance_df.sort_values(by='age') # by 생략가능

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
57,19,male,31.680,2,yes,southeast,34303.167200,63.36,57
31,19,female,26.315,0,no,northeast,2198.189850,52.63,31
1023,19,male,23.320,1,no,southeast,1711.026800,46.64,1023
427,19,female,29.165,0,no,northeast,7323.734819,58.33,427
1317,19,male,53.130,0,no,southeast,1163.462700,106.26,1317
...,...,...,...,...,...,...,...,...,...
603,65,female,39.050,3,no,southeast,16085.127500,78.10,603
534,65,male,40.480,0,no,southeast,13831.115200,80.96,534
1241,65,male,36.960,2,yes,southeast,49577.662400,73.92,1241
801,65,female,35.970,0,no,southeast,14313.846300,71.94,801
768,65,female,39.700,0,no,southwest,14319.031000,79.40,768

# Q13
나이('age') 평균구하기

In [22]:
insurance_df['age'].mean()

np.float64(40.20702541106129)

# Q14*
보험료('charges')와 상관관계가 가장 높은 변수는?

In [38]:
# insurance_df.corr(numeric_only=True)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [39]:
train_df = insurance_df.copy() # 원본 보존을 위해 복사본 생성

# 값이 두개인건 라벨인코딩
train_df['sex'] = train_df['sex'].map({'male': 1, 'female': 0})
train_df['smoker'] = train_df['smoker'].map({'yes': 1, 'no': 0})

# 값이 여러개인건 원핫인코딩
# insurance_df['region'].unique()
incoded_df = pd.get_dummies(train_df,columns=['region']) # columns 생략 시 전체 df 대상

incoded_df.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,False,False,False,True
1,18,1,33.770,1,0,1725.55230,False,False,True,False
2,28,1,33.000,3,0,4449.46200,False,False,True,False
3,33,1,22.705,0,0,21984.47061,False,True,False,False
4,32,1,28.880,0,0,3866.85520,False,True,False,False

# Q15 
남자, 여자가 각각 몇명있는지 구하기

In [45]:
# 방법1 - 데이터를 몰라도 가능 >> 간편
pd.value_counts(insurance_df['sex'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_15156\98243050.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(insurance_df['sex'])

sex
male      676
female    662
Name: count, dtype: int64

In [48]:
# 방법2
(insurance_df['sex']=='female').sum(),(insurance_df['sex']=='male').sum()

(np.int64(662), np.int64(676))

# Q16*
자녀(children)가 3명인 데이터 출력하기

In [51]:
insurance_df['children']==3 # boolean series
insurance_df[insurance_df['children']==3] # 필터링

      age     sex     bmi  children smoker     region      charges
2      28    male  33.000         3     no  southeast   4449.46200
7      37  female  27.740         3     no  northwest   7281.50560
25     59  female  27.720         3     no  southeast  14001.13380
36     62  female  32.965         3     no  northwest  15612.19335
54     40  female  28.690         3     no  northwest   8059.67910
...   ...     ...     ...       ...    ...        ...          ...
1301   62    male  30.875         3    yes  northwest  46718.16325
1314   30  female  23.655         3    yes  northwest  18765.87545
1320   31    male  31.065         3     no  northwest   5425.02335
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830

[157 rows x 7 columns]

In [49]:
(insurance_df['children']==3).sum()

np.int64(157)

# Q17
자녀(children)가 5명 이상인 데이터 출력하기

In [54]:
insurance_df[insurance_df['children']>=5]
#insurance_df['children'].max()

      age     sex     bmi  children smoker     region      charges
32     19  female  28.600         5     no  southwest   4687.79700
71     31    male  28.500         5     no  northeast   6799.45800
166    20  female  37.000         5     no  southwest   4830.63000
413    25    male  23.900         5     no  southwest   5080.09600
425    45    male  24.310         5     no  southeast   9788.86590
438    52  female  46.750         5     no  southeast  12592.53450
568    49  female  31.900         5     no  southwest  11552.90400
640    33    male  42.400         5     no  southwest   6666.24300
877    33    male  33.440         5     no  southeast   6653.78860
932    46    male  25.800         5     no  southwest  10096.97000
937    39  female  24.225         5     no  northwest   8965.79575
969    39  female  34.320         5     no  southeast   8596.82780
984    20    male  30.115         5     no  northeast   4915.05985
1085   39  female  18.300         5    yes  southwest  19023.26000
1116   41    male  29.640         5     no  northeast   9222.40260
1130   39  female  23.870         5     no  southeast   8582.30230
1245   28    male  24.300         5     no  southwest   5615.36900
1272   43    male  25.520         5     no  southeast  14478.33015

# Q18
bmi가 17 미만인 데이터 출력하기

In [55]:
insurance_df[insurance_df['bmi']<17]

      age     sex     bmi  children smoker     region     charges
172    18    male  15.960         0     no  northeast  1694.79640
428    21  female  16.815         1     no  northeast  3167.45585
1226   38    male  16.815         2     no  northeast  6640.54485

# Q19*
성별에 따른 보험료 평균

In [57]:
insurance_df.groupby('sex').size()

sex
female    662
male      676
dtype: int64

In [ ]:
insurance_df.groupby('sex').get_group('female')['charges'].mean()

np.float64(12569.578843835347)

In [65]:
insurance_df.groupby('sex')['charges'].mean()

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [ ]:
# 좀 더 직관적 : charges 컬럼 > 그룹핑 > 평균
insurance_df['charges'].groupby(insurance_df['sex']).mean()

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

# Q20
흡연여부에 따른 보험료 평균

In [67]:
insurance_df['charges'].groupby(insurance_df['smoker']).mean()

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

# Q21 
지역별 보험료 평균

In [68]:
insurance_df['charges'].groupby(insurance_df['region']).mean()

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

# Q22
흡연여부 + 지역별 데이터 평균

In [76]:
insurance_df['charges'].groupby([insurance_df['smoker'],insurance_df['region']]).mean()

smoker  region
no      northeast     9165.531672
        northwest     8556.463715
        southeast     8032.216309
        southwest     8019.284513
yes     northeast    29673.536473
        northwest    30192.003182
        southeast    34844.996824
        southwest    32269.063494
Name: charges, dtype: float64

In [77]:
insurance_df['charges'].groupby([insurance_df['region'],insurance_df['smoker']]).mean()

region     smoker
northeast  no         9165.531672
           yes       29673.536473
northwest  no         8556.463715
           yes       30192.003182
southeast  no         8032.216309
           yes       34844.996824
southwest  no         8019.284513
           yes       32269.063494
Name: charges, dtype: float64

In [ ]:
# 기준이 2개 이상일 때는 groupby를 먼저 하는 것이 좀 더 직관적 
insurance_df.groupby(['smoker','region'])['charges'].mean()

smoker  region
no      northeast     9165.531672
        northwest     8556.463715
        southeast     8032.216309
        southwest     8019.284513
yes     northeast    29673.536473
        northwest    30192.003182
        southeast    34844.996824
        southwest    32269.063494
Name: charges, dtype: float64

In [80]:
insurance_df.groupby(['smoker','region']).agg(
  mean_chages=('charges','mean'),
  median_charges=('charges','mean'),
  count_charges=('charges','count')
)

                   mean_chages  median_charges  count_charges
smoker region
no     northeast   9165.531672     9165.531672            257
       northwest   8556.463715     8556.463715            267
       southeast   8032.216309     8032.216309            273
       southwest   8019.284513     8019.284513            267
yes    northeast  29673.536473    29673.536473             67
       northwest  30192.003182    30192.003182             58
       southeast  34844.996824    34844.996824             91
       southwest  32269.063494    32269.063494             58

# Q23
흡연여부 + 지역별 데이터 평균에서 'charges' 만 츨력하기

# Q24
흡연여부 + 지역별 데이터 크기(size)

# Q25
smoker 여부에 따라, group_val 컬럼에 '흡연자', '비흡연자' 표시하기