# Series : ì—´

ì‹œë¦¬ì¦ˆ : ì»¬ëŸ¼ + ì¸ë±ìŠ¤ í˜•ì‹ìœ¼ë¡œ ì €ì¥, ê´€ë¦¬, ë¦¬ìŠ¤íŠ¸/ë°°ì—´ê³¼ ìœ ì‚¬í•œ í˜•íƒœ

ì»¬ëŸ¼ : 1ì°¨ì› ë°ì´í„°ì˜ ëª¨ìŒ - 1ê°œ ì»¬ëŸ¼
ì»¬ëŸ¼ë“¤ > ë°ì´í„°í”„ë ˆì„
ë°ì´í„°í”„ë ˆì„ : ì»¬ëŸ¼ë“¤ + ì¸ë±ìŠ¤, ì—‘ì…€ í‘œ(í…Œì´ë¸”) ìœ ì‚¬í•œ í˜•íƒœ

In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([10, 20, 30, 40, 50])
s1[0:2]

0    10
1    20
dtype: int64

In [4]:
col_idx = ['A', 'B', 'C']
data = [10,20,30]
s2 = pd.Series(data, index=col_idx)

In [8]:
s2['A':'C'] # ì´ë¦„ê¸°ë°˜ ì¸ë±ì‹± <> ìˆ«ìê¸°ë°˜ ì¸ë±ì‹±

A    10
B    20
C    30
dtype: int64

In [ ]:
dict_data = {'A':10, 'B':20, 'C':30}
type(dict_data)

dict

In [11]:
s3.dtypes

dtype('int64')

In [10]:
s3 = pd.Series(dict_data)
s3

A    10
B    20
C    30
dtype: int64

In [12]:
s3.info()

<class 'pandas.core.series.Series'>
Index: 3 entries, A to C
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 156.0+ bytes

In [13]:
population=pd.Series([9776.0,2729,1566,3158], index=['ì„œìš¸','ë¶€ì‚°','ì¸ì²œ','ëŒ€êµ¬'])
population

ì„œìš¸    9776.0
ë¶€ì‚°    2729.0
ì¸ì²œ    1566.0
ëŒ€êµ¬    3158.0
dtype: float64

In [16]:
print(population['ì„œìš¸'])
print(population[['ì„œìš¸', 'ë¶€ì‚°']])

9776.0
ì„œìš¸    9776.0
ë¶€ì‚°    2729.0
dtype: float64

In [17]:
population['ì œì£¼'] = 30 # í–‰ì¶”ê°€

In [18]:
population

ì„œìš¸    9776.0
ë¶€ì‚°    2729.0
ì¸ì²œ    1566.0
ëŒ€êµ¬    3158.0
ì œì£¼      30.0
dtype: float64

In [19]:
import numpy as np

# ë°ì´í„° í”„ë ˆì„ DataFrame

In [20]:
# ë¦¬ìŠ¤íŠ¸ë¡œ ë°ì´í„°í”„ë ˆì„ ìƒì„±
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
pd.DataFrame(data, columns=['A','B','C'], index=['í™ê¸¸ë™','ê¹€ì² ìˆ˜','ì´ì˜í¬'])

     A  B  C
í™ê¸¸ë™  1  2  3
ê¹€ì² ìˆ˜  4  5  6
ì´ì˜í¬  7  8  9

In [22]:
import numpy as np
import pandas as pd

# 2ì°¨ì› ë„˜íŒŒì´ ì–´ë ˆì´ ìƒì„±
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [23]:
pd.DataFrame(arr,columns=['A','B','C'], index=['í™ê¸¸ë™','ê¹€ì² ìˆ˜','ì´ì˜í¬'])

     A  B  C
í™ê¸¸ë™  1  2  3
ê¹€ì² ìˆ˜  4  5  6
ì´ì˜í¬  7  8  9

In [24]:
names = pd.Series(['í™ê¸¸ë™','ê¹€ì² ìˆ˜','ì´ì˜í¬'])
ages = pd.Series([25,30,22])
scores = pd.Series([90,85,95])
names, ages, scores

(0    í™ê¸¸ë™
 1    ê¹€ì² ìˆ˜
 2    ì´ì˜í¬
 dtype: object,
 0    25
 1    30
 2    22
 dtype: int64,
 0    90
 1    85
 2    95
 dtype: int64)

In [26]:
# pd.DataFrame([names, ages, scores]) 
pd.DataFrame({'ì´ë¦„':names, 'ë‚˜ì´':ages, 'ì ìˆ˜':scores})

    ì´ë¦„  ë‚˜ì´  ì ìˆ˜
0  í™ê¸¸ë™  25  90
1  ê¹€ì² ìˆ˜  30  85
2  ì´ì˜í¬  22  95

In [45]:
# ìƒ˜í”Œ ë°ì´í„°í”„ë ˆì„ ìƒì„±
data = {
    'ì´ë¦„': ['ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ë¯¼ìˆ˜', 'ì •ìˆ˜ì§„', 'ìµœì˜í˜¸', 'í•œë¯¸ë˜', 'ìœ¤ì§€ì›'],
    'ë‚˜ì´': [25, 28, 22, 31, 27, 24, 29],
    'ì ìˆ˜': [85, 92, 78, 95, 88, 73, 91]
}
df = pd.DataFrame(data)
df

    ì´ë¦„  ë‚˜ì´  ì ìˆ˜
0  ê¹€ì² ìˆ˜  25  85
1  ì´ì˜í¬  28  92
2  ë°•ë¯¼ìˆ˜  22  78
3  ì •ìˆ˜ì§„  31  95
4  ìµœì˜í˜¸  27  88
5  í•œë¯¸ë˜  24  73
6  ìœ¤ì§€ì›  29  91

In [47]:
# í–‰ ì´ë¦„ ë³€ê²½
df.index = ['A', 'B', 'C', 'D', 'E', 'F', 'G'] #replace
print(df.index)

# columns ì†ì„±ìœ¼ë¡œ ëª¨ë“  ì—´ ì´ë¦„ í•œë²ˆì— ë³€ê²½
df.columns = ['name', 'age', 'score']

# ì—´ ìˆœì„œëŠ” ê·¸ëŒ€ë¡œ ìœ ì§€ë˜ë©°, ìƒˆë¡œìš´ ì´ë¦„ì´ ìˆœì„œëŒ€ë¡œ ì ìš©ë¨
print(df.columns)

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='object')
Index(['name', 'age', 'score'], dtype='object')

In [29]:
# df.rename(columns={'name':'ì´ë¦„', 'age':'ë‚˜ì´', 'score':'ì ìˆ˜'}, inplace=True) 
# inplace >> ìƒˆë¡œìš´ df ë³µì‚¬ë³¸ì—ì„œ í™•ì¸í•˜ëŠ” ë°©ë²•ì´ ì•ˆì „

In [48]:
df1 = df.rename(columns={'name':'ì´ë¦„'})

In [49]:
df1

    ì´ë¦„  age  score
A  ê¹€ì² ìˆ˜   25     85
B  ì´ì˜í¬   28     92
C  ë°•ë¯¼ìˆ˜   22     78
D  ì •ìˆ˜ì§„   31     95
E  ìµœì˜í˜¸   27     88
F  í•œë¯¸ë˜   24     73
G  ìœ¤ì§€ì›   29     91

In [50]:
# ë¯¸ë¦¬ë³´ê¸°
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, A to G
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    7 non-null      object
 1   age     7 non-null      int64
 2   score   7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes

In [52]:
df.head(3) # default 5ê°œ

  name  age  score
A  ê¹€ì² ìˆ˜   25     85
B  ì´ì˜í¬   28     92
C  ë°•ë¯¼ìˆ˜   22     78

In [53]:
df.tail(3)

  name  age  score
E  ìµœì˜í˜¸   27     88
F  í•œë¯¸ë˜   24     73
G  ìœ¤ì§€ì›   29     91

In [54]:
df.describe()

             age      score
count   7.000000   7.000000
mean   26.571429  86.000000
std     3.101459   7.958224
min    22.000000  73.000000
25%    24.500000  81.500000
50%    27.000000  88.000000
75%    28.500000  91.500000
max    31.000000  95.000000

# ì¸ë±ì‹± 
[í–‰,ì—´] ì¸ë±ì‹±
- iloc[] í–‰ê¸°ë°˜ ì¸ë±ì‹± >>> [í–‰,ì—´]
- loc[] ì´ë¦„ê¸°ë°˜(ìœ„ì¹˜) ì¸ë±ì‹± >>> [í–‰ì´ë¦„, ì—´ì´ë¦„]
- : >> start:end ê¹Œì§€ ìŠ¬ë¼ì´ì‹±
- loc[í–‰ì´ë¦„:í–‰ì´ë¦„]
- iloc[í–‰ë²ˆí˜¸,í–‰ë²ˆí˜¸] >>> end í–‰ë²ˆí˜¸ëŠ” -1ê¹Œì§€

In [55]:
# df1['ì´ë¦„','age']]
df1.loc[ : , ['ì´ë¦„','age']] # loc[í–‰,ì—´]

    ì´ë¦„  age
A  ê¹€ì² ìˆ˜   25
B  ì´ì˜í¬   28
C  ë°•ë¯¼ìˆ˜   22
D  ì •ìˆ˜ì§„   31
E  ìµœì˜í˜¸   27
F  í•œë¯¸ë˜   24
G  ìœ¤ì§€ì›   29

In [56]:
df1.loc['A']

ì´ë¦„       ê¹€ì² ìˆ˜
age       25
score     85
Name: A, dtype: object

In [57]:
df1.iloc[0:3,0:2] # í–‰ë²ˆí˜¸, ì—´, :ì€ start:end(-1)

    ì´ë¦„  age
A  ê¹€ì² ìˆ˜   25
B  ì´ì˜í¬   28
C  ë°•ë¯¼ìˆ˜   22

# ì—°ìŠµë¬¸ì œ
[ê¸°ë³¸]

ëª¨ë“  í–‰ì—ì„œ ì´ë¦„ ì—´ë§Œ ì„ íƒí•˜ì„¸ìš”.

ëª¨ë“  í–‰ì—ì„œ ì´ë¦„ê³¼ score ì—´ì„ ì„ íƒí•˜ì„¸ìš”.

ì¸ë±ìŠ¤ C í–‰ì˜ ëª¨ë“  ë°ì´í„°ë¥¼ ì„ íƒí•˜ì„¸ìš”.

ì¸ë±ìŠ¤ D í–‰ì˜ age ê°’ë§Œ ì„ íƒí•˜ì„¸ìš”.

[ìŠ¬ë¼ì´ì‹±]

ì¸ë±ìŠ¤ Bë¶€í„° Eê¹Œì§€ì˜ ëª¨ë“  í–‰ì„ ì„ íƒí•˜ì„¸ìš”.

ì¸ë±ìŠ¤ Cë¶€í„° Fê¹Œì§€ì˜ ì´ë¦„ê³¼ age ì—´ë§Œ ì„ íƒí•˜ì„¸ìš”.

ì¸ë±ìŠ¤ Aë¶€í„° Gê¹Œì§€ì—ì„œ score ì—´ë§Œ ì„ íƒí•˜ì„¸ìš”.

[ì¡°ê±´ + loc]

ageê°€ 27 ì´ìƒì¸ í–‰ë§Œ ì„ íƒí•˜ì„¸ìš”.

scoreê°€ 90 ì´ìƒì¸ ì‚¬ëŒì˜ ì´ë¦„ê³¼ scoreë§Œ ì¶œë ¥í•˜ì„¸ìš”.

ageê°€ 25 ì´ìƒì´ë©´ì„œ scoreê°€ 90 ì´ìƒì¸ í–‰ì„ ëª¨ë‘ ì„ íƒí•˜ì„¸ìš”.

iloc ì¸ë±ì‹± & ìŠ¬ë¼ì´ì‹± ì—°ìŠµë¬¸ì œ

ğŸ‘‰ ì •ìˆ˜ ìœ„ì¹˜ ê¸°ë°˜ (0ë¶€í„° ì‹œì‘)

[ê¸°ë³¸]

ì²« ë²ˆì§¸ í–‰ì˜ ëª¨ë“  ë°ì´í„°ë¥¼ ì„ íƒí•˜ì„¸ìš”.

ì„¸ ë²ˆì§¸ í–‰ì˜ ì´ë¦„ ê°’ë§Œ ì„ íƒí•˜ì„¸ìš”.

ì²˜ìŒ 3ê°œì˜ í–‰ì„ ì„ íƒí•˜ì„¸ìš”.

ë§ˆì§€ë§‰ í–‰ì˜ score ê°’ë§Œ ì„ íƒí•˜ì„¸ìš”.

[ìŠ¬ë¼ì´ì‹±]

1ë²ˆ í–‰ë¶€í„° 4ë²ˆ í–‰ê¹Œì§€ ì„ íƒí•˜ì„¸ìš”.

2ë²ˆ í–‰ë¶€í„° 5ë²ˆ í–‰ê¹Œì§€ì—ì„œ ì´ë¦„ê³¼ age ì—´ë§Œ ì„ íƒí•˜ì„¸ìš”.

ëª¨ë“  í–‰ì—ì„œ age ì—´ë§Œ ì„ íƒí•˜ì„¸ìš”.

[ì¡°í•© ë¬¸ì œ]

score ì—´ë§Œ ì„ íƒí•˜ë˜, ì•ì—ì„œ 4ê°œì˜ í–‰ë§Œ ì¶œë ¥í•˜ì„¸ìš”.

ì´ë¦„ê³¼ score ì—´ì„ ì„ íƒí•˜ë˜, ë§ˆì§€ë§‰ 3ê°œì˜ í–‰ë§Œ ì¶œë ¥í•˜ì„¸ìš”.

ì§ìˆ˜ ë²ˆì§¸ í–‰(0, 2, 4, 6)ì˜ ëª¨ë“  ë°ì´í„°ë¥¼ ì„ íƒí•˜ì„¸ìš”.

# boolean ì¸ë±ì‹±

In [58]:
df[df['score']>90]

  name  age  score
B  ì´ì˜í¬   28     92
D  ì •ìˆ˜ì§„   31     95
G  ìœ¤ì§€ì›   29     91

In [59]:
cond = df1['age']>=27

# [ì¡°ê±´ + loc]

# age ê°€ 27 ì´ìƒì¸ í–‰ë§Œ ì„ íƒí•˜ì„¸ìš”
df1.loc[cond]

# scoreê°€ 90 ì´ìƒì¸ ì‚¬ëŒì˜ ì´ë¦„ê³¼  scoreë§Œ ì¶œë ¥í•˜ì„¸ìš”
df1.loc[df1['score']>=90, ['ì´ë¦„','score']]

# ageê°€ 25 ì´ìƒì´ë©´ì„œ scoreê°€ 90 ì´ìƒì¸ í–‰ì„ ëª¨ë‘ ì„ íƒí•˜ì„¸ìš”
cond1 = df1['age']>=25
cond2 = df1['score']>=90
df1.loc[cond1 & cond2]

    ì´ë¦„  age  score
B  ì´ì˜í¬   28     92
D  ì •ìˆ˜ì§„   31     95
G  ìœ¤ì§€ì›   29     91